// M E D I A Q U E R I E S
$phone:667px;
$tablet:920px;
$desktop:1024px;
$desktopxl:1600px;
@mixin breakpoint($media) {
    @if $media==phone {
        @media (min-width: 320px) and (max-width: $phone) {
            @content;
        }
    }
    @else if $media==tablet {
        @media (min-width: $phone + 1) and (max-width: $desktop) {
            @content;
        }
    }
    @else if $media==desktop {
        @media (min-width: $desktop + 1) {
            @content;
        }
    }
    @else if $media==desktopxl {
        @media (min-width: $desktopxl + 1) {
            @content;
        }
    }
}

// E N D  M E D I A Q U E R I E S