.archivos__container {
    background-color: $colorblack;
    min-height: 100vh;
    height: auto;
    .archivos__titulo {
        display: flex;
        justify-content: flex-start;
        padding: 1em;
        font-weight: bolder;
        margin-left: 5em;
        padding-top: 2.3em;
        color: white;
        font-size: 16px;
        font-family: "Libre Franklin", sans-serif;
    }
    .carrusel_main {
        transform: translateX(-6px);
        margin-bottom: 0;
        .carrusel_main__item {
            border-color: #faf0e2;
            .carrusel_item {
                &__texto {
                    position: absolute;
                    bottom: 2px;
                    color: white;
                    font-family: "Libre Franklin", sans-serif;
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6 {
                        font-family: 'Ibarra Real Nova';
                        font-size: 28px;
                        background-color: #faf0e2;
                        margin-bottom: 0;
                        width: max-content;
                    }
                    @include breakpoint(desktop) {
                        width: 67%;
                        padding: 1em;
                        max-height: 11em;
                    }
                    @include breakpoint(desktopxl) {
                        width: 67%;
                        padding: 2em;
                        max-height: 12em;
                    }
                    mark {
                        font-size: 25px;
                        text-transform: uppercase;
                        background-color: #faf0e2;
                    }
                }
            }
        }
        .carousel-3d-controls {
            .prev {
                left: 4em;
                color: white !important;
                @include breakpoint(desktopxl) {
                    left: 4em;
                }
            }
            .next {
                right: 4em;
                @include breakpoint(desktopxl) {
                    right: 4em;
                }
                color: white !important;
            }
        }
    }
    .archivos__contenidos {
        min-height: 100vh;
        background-color: #faf0e2;
        padding: 2em;
        &__parrafo {
            color: rgb(47, 47, 47);
            font-size: 14px;
            line-height: 2.5em;
            font-weight: bolder;
            text-transform: uppercase;
            width: 50%;
            text-align: left;
            font-family: "Libre Franklin", sans-serif;
        }
        .mansory__container {
            .mansory-item {
                img {
                    max-width: 300px;
                    max-height: 300px;
                }
            }
        }
    }
}