@import '../components/audio';
@import '../components/dottet_fullpage.scss';
.expo_container {
    .introduccion {
        display: flex;
        position: absolute;
        z-index: 1;
        align-items: center;
        width: 100vw;
        height: 100vh;
        &.text {
            padding: 3em;
            h1 {
                font-size: 300;
                color: #fff;
                font-family: "Ibarra Real Nova", serif;
            }
        }
    }
    .btn_exposicion--center {
        position: absolute;
        text-align: center;
        top: 90vh;
        z-index: 1;
        width: 100%;
        svg {
            width: 20px;
            margin-top: 20px;
        }
        a {
            color: #fff;
            font-family: "Libre Franklin", sans-serif;
            font-weight: 800;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 12px;
            text-align: center;
            display: block;
            margin: auto;
            letter-spacing: 0.7px;
            span {
                display: block;
            }
        }
        &::after {
            color: #fff;
            position: relative;
        }
    }
    .page_animation {
        width: 100vw;
        height: 100vh;
        display: block;
        position: relative;
        display: flex;
        justify-content: center;
        flex-flow: column;
        z-index: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        .page_animation {
            &__capa {
                background-position: bottom;
                height: 100vh;
                width: 100vw;
                position: absolute;
                z-index: 2;
                &_1 {
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    .exposicion_introduccion {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        z-index: 2;
        .exposicion_texto {
            margin-left: 15vw;
            &__titulo {
                font-family: 'Ibarra Real Nova', serif;
                font-size: 5em;
                color: rgb(255, 255, 255);
                margin: 0px;
            }
            &__subtitulo {
                font-family: 'Libre Franklin', sans-serif;
                font-size: 3em;
                color: rgb(255, 255, 255);
                margin: 0.2em 0 0 0;
            }
        }
    }
    .texto_exposiciones {
        &__parrafo {
            p {
                font-size: 1.87rem;
                line-height: 48px;
                left: 0;
                margin-left: 100px;
                padding-right: 250px;
                z-index: 1;
                margin-bottom: 0;
                font-family: 'Ibarra Real Nova';
            }
        }
    }
    .seccion_secu {
        height: 100vh;
        display: flex;
        &_container {
            background-position: center;
            background-color: $colorblack;
            display: flex;
            align-items: center;
            &__video {
                min-height: 100%;
                min-width: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
            }
            &__imagen {
                min-height: 100%;
                min-width: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
            }
            &__texto {
                position: relative;
                width: 50%;
                display: flex;
                margin: 0 10vw;
                &--izquierda {
                    font-family: 'Ibarra Real Nova';
                    color: rgb(255, 255, 255);
                    line-height: 48px;
                    font-size: 1.87rem;
                }
            }
            &__btn {
                position: absolute;
                right: 15vw;
                cursor: pointer;
                margin-top: 6em;
                .btn_seccionsecu {
                    z-index: 1;
                    font-family: 'Libre Franklin', sans-serif;
                    font-weight: 800;
                    text-transform: uppercase;
                    font-size: 12px;
                    line-height: 24px;
                    border-radius: 10px;
                    letter-spacing: 1px;
                    border: transparent;
                    position: absolute;
                    bottom: 0;
                    color: rgb(255, 255, 255);
                    height: 115px;
                    padding: 40px 0 0 20px;
                    &__icono {
                        background-image: url('../assets/img//flecha-derecha.svg');
                        height: 40px;
                        width: 20px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        position: relative;
                        display: block;
                        transition: all .3s linear;
                    }
                }
                &:hover {
                    .btn_seccionsecu__icono {
                        transform: translateX(10em);
                    }
                }
            }
        }
    }
    .lateralTitleIcon {
        top: 1em;
        left: 2.1em;
        z-index: 2;
        transform: rotate(180deg);
        background-image: url('../assets/img//flecha-derecha.svg');
        height: 40px;
        width: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        display: block;
        transition: all .3s linear;
    }
    .titleBtn {
        position: absolute;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        color: #fff;
        left: -180px;
        height: auto;
        width: 450px;
        top: 32vh;
        z-index: 2;
        h2 {
            font-size: 13px;
            font-family: 'Libre Franklin', sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1px;
        }
    }
    .lateralTitleBg {
        position: absolute;
        width: 97px;
        display: inline-block;
        height: 100vh;
        top: 0;
        background-size: cover;
        z-index: 1;
    }
    .container__lateral {
        position: fixed;
        top: 0;
        z-index: 9;
        right: -100vw;
        width: 100%;
        height: 100%;
        transition-property: position;
        -webkit-transition: 1s;
        transition: 1s;
        &.active {
            right: 0vw;
        }
    }
    .seccion_lateral {
        height: 100vh;
        display: flex;
        &.interna {
            .seccion_lateral_container {
                &__rvideo {
                    position: absolute;
                    z-index: 999;
                }
                &__audio {
                    position: absolute;
                    z-index: 999;
                    left: 15vw;
                    .seccion_lateral_container__leyenda {}
                    .audio_container {
                        &__reproductor {}
                    }
                }
                &__video {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    left: 0;
                    top: 0;
                    .video_source {
                        width: 100%;
                        background-size: cover;
                    }
                }
                &__imagen {
                    background-image: url(http://localhost:1337/uploads/museo_flip_caqueta_tira2_01_aa0f6bb56a.jpg);
                    background-size: cover;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                }
                &__texto {
                    z-index: 7;
                    font-family: 'Ibarra Real Nova';
                    b,
                    strong,
                    em {
                        font-family: 'Libre Franklin', sans-serif;
                        text-transform: uppercase;
                    }
                }
            }
        }
        &_container {
            background-position: center;
            background-color: $colorblack;
            display: flex;
            width: 100%;
            align-items: center;
            &__texto {
                position: relative;
                width: 65%;
                margin: 0 auto;
                font-family: 'Ibarra Real Nova';
                color: #fff;
                font-size: 1.3em;
            }
        }
    }
    .overlay_inlateral {
        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
        }
        .image_overlayl {
            width: 100vw;
            height: 100vh;
        }
    }
    #fp-nav ul li a span,
    .fp-slidesNav ul li a span {
        background: white !important;
    }
}